I’m a full-stack software engineer based in {{resident}} and, I recently completed my studies at the Holberton School where my program focused on full-stack engineering. While I’m comfortable working in a variety of languages, I’m truly passionate about backend programming. I have experience programming and testing in Python, C, C#, Ruby, BASH and PHP. I also have strong analytical skills and a solid understanding of DevOps, and low level. Before that, I was a 3D generalist with experience in using Maya, Houdini and other creative applications to create digital media content, for games and small film projects.